﻿@using System.Security.Claims
@{ 
    string name = "";
    string surname = "";
    string role = "";
    if (User.Identity.IsAuthenticated)
    {
        var identity = (ClaimsIdentity)User.Identity;
        surname = identity.Claims.First(c => c.Type == ClaimTypes.Surname).Value;
        name = identity.Claims.First(c => c.Type == ClaimTypes.GivenName).Value;
        role = identity.Claims.First(c => c.Type == ClaimTypes.Role).Value;
    }
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/jquery-3.1.1.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <link href="~/Content/Site.css?" rel="stylesheet" type="text/css" />
    
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                @Html.ActionLink("Car Service BSc", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <ul class="nav navbar-nav navbar-left">
                @if (User.Identity.IsAuthenticated)
                {
                    <li>@Html.ActionLink("My Dashboard", "RedirectToDashboard", "Home", null, new { @class = "navbar-link" })</li>
                    if(role == "Admin")
                    {
                        <li>@Html.ActionLink("Mechanic Dashboard", "Index", "Mechanic", null, new { @class = "navbar-link" })</li>
                    }
                }
            </ul>
            <ul class="nav navbar-nav navbar-right">
                @if (User.Identity.IsAuthenticated)
                {
                    <li>@Html.ActionLink("Signed as, " + name + " " + surname, "ChangePassword", "Auth", new { returnUrl = HttpContext.Current.Request.Url.AbsolutePath }, new { @class = "navbar-link" })</li>
                    <li>@Html.ActionLink("Log out", "LogOut", "Auth", null, new { @class = "navbar-link" })</li>
                }
                else
                {
                    <li>@Html.ActionLink("Register", "Register", "Auth", null, new { @class = "navbar-link" })</li>
                    <li>@Html.ActionLink("Log in", "LogIn", "Auth", null ,new { @class = "navbar-link" })</li>
                }
            </ul>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Car Service Application</p>
        </footer>
    </div>
</body>
</html>