﻿@model List<CarService_WebApp.Models.Invoice>
@using System.Security.Claims
@{ 
    Layout = null;
    bool isAdmin = ((ClaimsIdentity)User.Identity).Claims.First(c => c.Type == ClaimTypes.Role).Value == "Admin" ? true : false;
    int colspanNo = isAdmin ? 7 : 5;
}
<table class="table">
    <tr>
        <th>Plate number</th>
        @if (isAdmin)
        {
            <th>Car</th>
            <th>Client</th>
        }
        <th>Due date</th>
        <th>Payment date</th>
        <th>Gross amount</th>
        <th></th>
    </tr>
    @foreach(var invoice in Model)
    {
        <tr>
            <td>@invoice.Repair.ClientXCar.PlateNo</td>
            @if (isAdmin)
            {
                <td>@invoice.Repair.ClientXCar.Car.Make&nbsp;@invoice.Repair.ClientXCar.Car.Model</td>
                <td>@invoice.Repair.Client.User.Name&nbsp;@invoice.Repair.Client.User.Surname</td>
            }
            <td>@invoice.DueDate.ToShortDateString()</td>
            <td>@invoice.PaymentDay.ToShortDateString()</td>
            <td>@invoice.GrossAmount zł</td>
            <td id="@invoice.InvoiceID"><span class="glyphicon glyphicon-arrow-down drop-parts" style="cursor: pointer"></span></td>
        </tr>
        <tr>
            <td colspan="@colspanNo">
                <div class="mini-parts-list" style="display: none" id="@invoice.InvoiceID">
                    <table class="table">
                        <tr>
                            <th>Part name</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Total</th>
                        </tr>
                        @foreach (var rxp in invoice.Repair.RepairXParts)
                        {
                            <tr>
                                <td>@rxp.Part.Name</td>
                                <td>@rxp.Part.Price zł</td>
                                <td>@rxp.Quantity</td>
                                <td>@rxp.Total zł</td>
                            </tr>
                        }
                    </table>
                </div>
            </td>
        </tr>
    }
</table>