﻿@model CarService_WebApp.Models.Car
@{ 
    Layout = null;
}
<div class="form-horizontal">
    <div class="form-group form-make">
        @Html.LabelFor(model => model.Make, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10 form-inline">
            @Html.EditorFor(model => model.Make, new { htmlAttributes = new { @class = "form-control" } })
            <span class="glyphicon glyphicon-arrow-down dropdown-make" style="cursor:pointer"></span>
            @Html.ValidationMessageFor(model => model.Make, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="car-dropdown" id="car-make-list" style="display: none; left: 276px; top: 253px">
        @Html.Action("CarMakeList")
    </div>
    <div class="form-group form-model">
        @Html.LabelFor(model => model.Model, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10 form-inline">
            @Html.EditorFor(model => model.Model, new { htmlAttributes = new { @class = "form-control" } })
            <span class="glyphicon glyphicon-arrow-down dropdown-model" style="display:none; cursor:pointer"></span>
            @Html.ValidationMessageFor(model => model.Model, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="car-dropdown" id="car-model-list" style="display:none; left: 276px; top: 303px"></div>
    <div class="form-group form-version">
        @Html.LabelFor(model => model.Version, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10 form-inline">
            @Html.EditorFor(model => model.Version, new { htmlAttributes = new { @class = "form-control" } })
            <span class="glyphicon glyphicon-arrow-down dropdown-version" style="display:none; cursor:pointer"></span>
            @Html.ValidationMessageFor(model => model.Version, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="car-dropdown" id="car-version-list" style="display:none; left: 276px; top: 353px"></div>
    <div class="form-group">
        @Html.LabelFor(model => model.Year, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Year, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Year, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group form-capacity">
        @Html.LabelFor(model => model.Capacity, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Capacity, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Capacity, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Bhp, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Bhp, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Bhp, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10 col-md-offset-2">
            <div class="btn btn-default" id="save-car">Save car</div>
        </div>
    </div>
</div>
