﻿@model List<CarService_WebApp.Models.Repair>
@{
    ViewBag.Title = "Index";
}
<script src="~/Scripts/client.js?@DateTime.Now.Ticks.ToString()" type="text/javascript"></script>
<h3 id="request-added-info" style="margin-top: 5px; color: green; text-align: center">@TempData["Message"]</h3>
<h2>Client dashboard</h2>
<ul class="nav nav-tabs repairs-tabs">
    <li id="All" role="presentation" class="active"><a>All repairs</a></li>
    <li id="Finished" role="presentation"><a>Finished</a></li>
    <li id="NotFinished" role="presentation"><a>Not finished</a></li>
    <li id="Paid" role="presentation"><a>Paid</a></li>
    <li id="NotPaid" role="presentation"><a>Not paid</a></li>
    <li class="pull-right" id="RepairRequest" role="button">@Html.ActionLink("Repair request", "RepairRequest")</li>
</ul>
<br />
<div class="list-table">
    @Html.Action("ListOfRepairs", new { mode = "All" })
</div>
