﻿@model List<CarService_WebApp.Models.Repair>
@{
    Layout = null;
}
@if (Model.Count > 0)
{
    foreach (var repair in Model)
    {
        <div class="row">
            <div class="col-lg-6">
                <table class="table-condensed table-bordered client-repairs-table">
                    <tr class="edge-tr">
                        <td colspan="4" style="width: 50%">Plate no. <b>@repair.ClientXCar.PlateNo</b></td>
                    </tr>
                    <tr>
                        <td colspan="2"><b>Mechanic</b></td>
                        <td colspan="2"><b>Car</b></td>
                    </tr>
                    <tr>
                        <td>Name</td>
                        <td>@repair.Mechanic.User.Name @repair.Mechanic.User.Surname</td>
                        <td>Make</td>
                        <td>@repair.ClientXCar.Car.Make</td>
                    </tr>
                    <tr>
                        <td>Phone</td>
                        <td>@repair.Mechanic.User.Phone</td>
                        <td>Model</td>
                        <td>@repair.ClientXCar.Car.Model&nbsp;@repair.ClientXCar.Car.Capacity&nbsp;@repair.ClientXCar.Car.Version</td>
                    </tr>
                    <tr>
                        <td colspan="4"></td>
                    </tr>
                    <tr>
                        <td>Start date:</td>
                        <td>@repair.StartDate.Value.ToShortDateString()</td>
                        <td>Planned end date:</td>
                        <td>@repair.PlannedEndDate.Value.ToShortDateString()</td>
                    </tr>
                    <tr class="edge-tr">
                        <td>Description:</td>
                        <td colspan="3">@repair.Description</td>
                    </tr>
                    <tr>
                        <td>Total price:</td>
                        <td colspan="3">@repair.RepairXParts.Sum(r => r.Total)</td>
                    </tr>
                </table>
            </div>
            <div class="col-lg-6 pre-scrollable" style="max-height: 184px; min-height: 184px">
                <table class="table-condensed table-bordered" style="width: 100%">
                    @foreach (var part in repair.RepairXParts)
                    {
                        <tr>
                            <td>@part.Part.Name</td>
                            <td>@part.Part.Price zł</td>
                            <td>@part.Quantity</td>
                            <td>@part.Total zł</td>
                        </tr>
                    }
                </table>

            </div>
        </div>
        <br />
    }
}
