﻿@model CarService_WebApp.Models.IncomingRepair

@{
    ViewBag.Title = "RepairRequest";
}
<script src="~/Scripts/client.js?@DateTime.Now.Ticks.ToString()" type="text/javascript"></script>
<h2>Repair request</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(m => m.ClientId)
        @Html.HiddenFor(m => m.IncomingRepairDateTime)
        @Html.HiddenFor(m => m.ClientXCarId)
        @Html.HiddenFor(m => m.MechanicId)

        <div class="form-group form-inline">
            @Html.LabelFor(model => model.ClientXCar.PlateNo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-8">
                @Html.Editor("ClientXCarPlateNo", new { htmlAttributes = new { @class = "form-control" } })
                @Html.HiddenFor(m => m.ClientXCar.PlateNo)
                @Html.ValidationMessageFor(model => model.ClientXCar.PlateNo, "", new { @class = "text-danger" })
                <div id="plate-search" class="btn btn-default">Search</div>
                <div id="plate-result" style="display:none;margin-top: 5px"></div>
                <div id="blank-car-input" style="display:none; margin-top: 5px; color: red">Fill everything for car</div>
            </div>
        </div>
        <div id="add-car-and-plate" style="display: none">
            
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.MessageFromClient, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.MessageFromClient, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MessageFromClient, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Send" class="btn btn-default" />
            </div>
        </div>
    </div>
}
<div>
    @Html.ActionLink("Back to dashboard", "Index")
</div>
