﻿@model IEnumerable<CarService_WebApp.Models.Mechanic>

@{ 
    Layout = null;
}

<style>
    .mechanic-list-row:hover{
        cursor:pointer;
        background-color: rgba(0, 0, 0, 0.2);
}

    }
</style>

<table class="table">
    <tr>
        <th>Name</th>
        <th>Surname</th>
        <th>Phone</th>
        <th>Current client</th>
    </tr>
    @foreach(var mechanic in Model)
    {
        <tr id="@mechanic.MechanicID" class="mechanic-list-row">
            <td>
                @mechanic.User.Name
            </td>
            <td>
                @mechanic.User.Surname
            </td>
            <td>
                @mechanic.User.Phone
            </td>
            <td>
                @if (mechanic.Repairs.Where(r => !r.IsFinished).Count() > 0)
                {
                    @mechanic.Repairs.Where(r => !r.IsFinished && r.StartDate.HasValue).OrderByDescending(r => r.StartDate).FirstOrDefault().ClientXCar.PlateNo;
                }
                else
                {
                    @:No pending repairs
                }

            </td>
        </tr>
    }
</table>
