﻿@model IEnumerable<CarService_WebApp.Models.Repair>

@{ 
    Layout = null;
}

<table class="table">
    <tr>
        <th>
            Plate number
        </th>
        <th>
            Car
        </th>
        <th>
            Client
        </th>
        <th>
            Mechanic
        </th>
        <th>
            Start date
        </th>
        <th>
            End date
        </th>
        <th>
            Is Finished
        </th>
        <th colspan="2">
            Total
        </th>
    </tr>
    @foreach(var repair in Model)
    {
        <tr class="repair-list-row" data-href="Mechanic/EditRepair?repairId=@repair.RepairID&returnUrl=/Admin">
            <td>
                @repair.ClientXCar.PlateNo
            </td>
            <td>
                @repair.ClientXCar.Car.Make&nbsp;@repair.ClientXCar.Car.Model
            </td>
            <td>
                @repair.Client.User.Name @repair.Client.User.Surname
            </td>
            <td>
                @repair.Mechanic.User.Name @repair.Mechanic.User.Surname
            </td>
            <td>
                @if (repair.StartDate.HasValue)
                {
                    @repair.StartDate.Value.ToShortDateString()
                }
                else
                {
                    @: - -
                }
            </td>
            <td>
                @if (repair.PlannedEndDate.HasValue)
                {
                    @repair.PlannedEndDate.Value.ToShortDateString()
                }
                else
                {
                    @: - -
                }
            </td>
            <td>
                @if (repair.IsFinished)
                {
                    @:Done
                }
                else
                {
                     @:- -
                }
            </td>
            <td>
                @repair.RepairXParts.Sum(r => r.Total) zł
            </td>
            <td><a class="glyphicon glyphicon-list-alt" href="/Mechanic/CreateInvoice?repairId=@repair.RepairID&returnUrl=/Admin"></a></td>
        </tr>
    }
</table>
