﻿
@{
    ViewBag.Title = "Admin";
}

<h2>Administrator dashboard</h2>
<script src="~/Scripts/admin.js?@DateTime.Now.Ticks.ToString()" type="text/javascript"></script>
<ul class="nav nav-tabs repairs-tabs">
    <li id="AllRepairs" role="presentation" class="active"><a>All repairs</a></li>
    <li id="FinishedRepairs" role="presentation"><a>Finished repairs</a></li>
    <li id="NotFinishedRepairs" role="presentation"><a>Not finished repairs</a></li>
    <li id="PaidInvoices" role="presentation"><a>Paid invoices</a></li>
    <li id="NotPaidInvoices" role="presentation"><a>Not paid invoices</a></li>
    <li id="AllClients" role="presentation"><a>Clients</a></li>
    <li id="AllMechanics" role="presentation"><a>Mechanics</a></li>
    @*<li id="Statistics" role="presentation"><a>Statistics</a></li>*@
</ul>
<br />
<div class="form-inline search-group">
    <div class="form-group">
        @Html.Editor("PlateNo", new { htmlAttributes = new { @class = "form-control", placeholder = "Plate number" } })
        @Html.Editor("ClientSurname", new { htmlAttributes = new { @class = "form-control", placeholder = "Client surname" } })
        @Html.Editor("MechanicSurname", new { htmlAttributes = new { @class = "form-control", placeholder = "Mechanic Surname" } })
        @Html.Editor("CarMake", new { htmlAttributes = new { @class = "form-control", placeholder = "Car make" } })
        <span class="btn btn-default btn-admin-search" data-mode="AllRepairs">Search</span>
        @Html.ActionLink("Add new mechanic", "AddMechanic", null, new { @class = "btn btn-primary btn-mechanic-add", style = "display: none", id = "AddMechanicBtn"})
        <span class="loading-text" style="display:none">Content Loading...</span>
    </div>
</div>
<br />
<div class="list-table">
    @Html.Action("AllRepairs")
</div>
