﻿@model CarService_WebApp.Models.Mechanic
@{ 
    Layout = null;
}
<div class="row">
    <div class="col-lg-12">
        <b>Name: </b>@Model.User.Name&nbsp;@Model.User.Surname<br />
        <b>Phone: </b>@Model.User.Phone<br />
        <b>E-mail: </b>@Model.User.Email<br />
        <b>Adress: </b>@Model.User.Adress&nbsp;@Model.User.City<br />
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <table class="table" style="font-size: 11px">
            <thead>
                <tr>
                    <th colspan="4">Finished repairs</th>
                </tr>
            </thead>
            <tr>
                <th>Plate No.</th>
                <th>Car</th>
                <th>Description</th>
                <th style="width: 90px">Total price</th>
            </tr>
            @foreach (var repair in Model.Repairs.Where(r => r.IsFinished))
            {
                <tr>
                    <td>@repair.ClientXCar.PlateNo</td>
                    <td>@repair.ClientXCar.Car.Make&nbsp;@repair.ClientXCar.Car.Model</td>
                    <td>@repair.Description</td>
                    <td>@repair.RepairXParts.Sum(r => r.Total) zł</td>
                </tr>
            }
        </table>
    </div>
    <div class="col-lg-6">
        <table class="table" style="font-size: 11px">
            <thead>
                <tr>
                    <th colspan="4">Not Finished repairs</th>
                </tr>
            </thead>
            <tr>
                <th>Plate No.</th>
                <th>Car</th>
                <th>Description</th>
                <th style="width: 90px">Total price</th>
            </tr>
            @foreach (var repair in Model.Repairs.Where(r => !r.IsFinished))
            {
                <tr>
                    <td>@repair.ClientXCar.PlateNo</td>
                    <td>@repair.ClientXCar.Car.Make&nbsp;@repair.ClientXCar.Car.Model</td>
                    <td>@repair.Description</td>
                    <td>@repair.RepairXParts.Sum(r => r.Total) zł</td>
                </tr>
            }
        </table>
    </div>
</div>
<div>
    <a class="btn btn-link" onclick="BackToMechanicsList()">Back to list</a>
</div>