﻿@model CarService_WebApp.Models.Home.RepairStatusModel
@{ 
    string footerColor = Model.IsFinished ? "alert-success" : "alert-danger";
    string footerText = Model.IsFinished ? "FINISHED" : "IN PROGRESS";
}
<span class="glyphicon glyphicon-remove dialog-close-btn" onclick="CloseRepairStatusDialog()"></span>
<div>
    <h4>Repair no.@Model.RepairHash</h4>
</div>
<hr />
<div>
    <div class="row">
        <div class="col-lg-5" style="text-align: right">Mechanic:</div>
        <div class="col-lg-7" style="text-align: left">@Model.MechanicName</div>
    </div>
    <div class="row">
        <div class="col-lg-5" style="text-align: right">Start date:</div>
        <div class="col-lg-7" style="text-align: left">@Model.StartDate.Value.ToShortDateString()</div>
    </div>
    <div class="row">
        <div class="col-lg-5" style="text-align: right">Planned end date:</div>
        <div class="col-lg-7" style="text-align: left">@Model.EndDate.Value.ToShortDateString()</div>
    </div>
    <div class="row">
        <div class="col-lg-5" style="text-align: right">Total:</div>
        <div class="col-lg-7" style="text-align: left">@Model.Total zł</div>
    </div>
    <div class="row">
        <div class="col-lg-5" style="text-align: right">Description:</div>
        <div class="col-lg-7" style="text-align: left">@Model.Description</div>
    </div>
</div>
<hr />
<div class="alert @footerColor"><h4 style="margin: 0px">@footerText</h4></div>

