﻿@model CarService_WebApp.Models.Home.CheckStatusModel
@{
    ViewBag.Title = "Car Service";
}
<script src="~/Scripts/home.js?@DateTime.Now.Ticks.ToString()"></script>
<div class="home-content">
    <div class="row">
        <div class="container col-lg-6">
            <h2>Car Service Manager</h2>
            <p>The site is currently under maintanace - please be patient</p>
        </div>
        <div class="container col-lg-6" style="border-left: groove 2px whitesmoke">
            @using(Ajax.BeginForm("CheckRepairStatus", "Home", new AjaxOptions { HttpMethod = "POST", OnSuccess = "ShowRepairStatusDialog" }))
            {
                <p>Check repair status without logging in</p>
                <div class="form-group form-inline">
                    @Html.EditorFor(model => model.PlateNo, new { htmlAttributes = new { @class = "form-control", id = "plateNo", placeholder = Html.DisplayNameFor(model => model.PlateNo), autocomplete = "off", style = "width: 200px" } })
                    @Html.ValidationMessageFor(model => model.PlateNo, "", new { @class = "text-danger", style = "font-size:12px; color: white" })
                </div>
                <div class="form-group form-inline">
                    @Html.EditorFor(model => model.RepairHash, new { htmlAttributes = new { @class = "form-control", id = "repairHash", placeholder = Html.DisplayNameFor(model => model.RepairHash), autocomplete = "off", style = "width: 200px" } })
                    @Html.ValidationMessageFor(model => model.RepairHash, "", new { @class = "text-danger", style = "font-size:12px; color: white" })
                </div>
                <div>
                    <input type="submit" class="btn btn-default" value="Check" />
                </div>
            }
        </div>
    </div>
</div>

<div class="dialog-box" tabindex="-1" role="dialog">
    <div class="repair-status-box">

    </div>
</div>

