﻿html > /**/ body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*Mechanic Controller*/
/*-----------------------------------*/
.clients-list-row-hover{
    background-color: #93979b;
}

.clients-list-row-selected{
    background-color: #4D5964;
    color: white;
}

.loading-bar{
    display: none;
}

.loading-bar img{
    display: block;
    margin: auto; 
}

.part-list-table .header-column{
    width: 100px;
}

.part-box-form-group.form-group{
    padding: 0px 8px 0px 8px;
    margin-left: 0px;
    margin-right: 0px;
}

.repair-list-row:hover{
    background-color: rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

#car-make-list{
    left: 197px;
    top: 99px;
}

#car-model-list{
    left: 197px;
    top: 149px;
}

#car-version-list{
    left: 197px;
    top: 199px;
}

.car-dropdown{
    position: absolute;
    display: none;
    background-color: white;
    border: 1px solid #337ab7;
    padding: unset;
    z-index: 1;
    width: 206px;
}

.car-dropdown ul{
    padding: 0px;
    margin: 0px;
}

.car-dropdown ul li {
    list-style-type: none;
    padding: 2px 30px 2px 30px;
}

.car-dropdown ul li:hover{
    background-color: grey;
    cursor: pointer;
}

/*-------------------------------------*/

/*Home Controller*/
/*-----------------------------------------------------*/
.home-content{
    height: 385px;
    padding-top: 9em;
    margin-bottom: 2em;
    background-image: url('Images/servicing-top.jpg');
    background-size: cover;
}

.home-content .container{
    color: #fff;
    font-size: 24px;
    text-shadow: black 0.3em 0.3em 0.3em;
    padding-left: 50px;
}

.repair-status-box{
    text-align: center;
    background-color: white;
    border: 1px solid black;
    border-radius: 4px;
    margin: 10% auto;
    width: 50%;
    padding: 1em;
}

.dialog-box{
    position: fixed;
    display: none;
    left: 0;
    top: 0;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    width: 100%;
    height: 100%;
}

.dialog-close-btn{
    float: right;
}

.dialog-close-btn:hover{
    cursor: pointer;
}
/*---------------------------------------------------------*/

.client-repairs-table td{
    border: none;
}

.repairs-tabs li{
    cursor: default;
}

#RepairRequest {
    cursor: pointer;
}

/*Admin controller*/
/*--------------------------------------------------*/

