﻿@model CarService_WebApp.Models.Mech.CreateRepairModel
@{
    ViewBag.Title = "AddRepair";
}

<h2>AddRepair</h2>
<p>RepairID: @Model.FormRepair.RepairHash</p>
<p>UserID: @Model.FormUser.Id</p>
<p>UserName: @Model.FormUser.Name</p>
<p>CarMake: @Model.FormCar.Make</p>
<p>CarModel: @Model.FormCar.Model</p>
<p>PlateNo: @Model.FormClientXCar.PlateNo</p>
@foreach (var item in Model.FormPartList)
{
    <p>PartName: @item.Part.Name</p>
}

