﻿@model IEnumerable<CarService_WebApp.Models.Client>
@{
    ViewBag.Title = "ClientsList";
}

<h2>Clients List</h2>
<table class="table">
    <tr>
        <th>Name</th>
        <th>Surname</th>
        <th>E-mail</th>
        <th>Phone</th>
        <th>Adress</th>
        <th>City</th>
        <th>Discount</th>
    </tr>
    @foreach(var client in Model)
    {
        <tr>
            <td>
                @client.User.Name
            </td>
            <td>
                @client.User.Surname
            </td>
            <td>
                @client.User.Email
            </td>
            <td>
                @client.User.Phone
            </td>
            <td>
                @client.User.Adress
            </td>
            <td>
                @client.User.City
            </td>
            <td>
                @if (client.HasDiscount)
                {
                    @client.Discount
                }
                else
                {
                    @:- -
                }
            </td>
        </tr>
    }
</table>
@Html.ActionLink("Back to dashboard", "Index")

