﻿@model CarService_WebApp.Models.Mech.CreateInvoiceModel

@{
    ViewBag.Title = "CreateInvoice";
    int carColLabelSize = 3;
    int carColDisplaySize = 12 - carColLabelSize;
}

<h2>Create Invoice</h2>
@using (Html.BeginForm("SaveInvoice", "Mechanic"))
{
    @Html.HiddenFor(model => model.Invoice.InvoiceID)
    <div class="form-horizontal">
        <div class="row">
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-md-2">
                        @Html.LabelFor(model => model.Client.Name)
                    </div>
                    <div class="col-md-10">
                        @Html.DisplayFor(model => model.Client.Name)
                        @Html.DisplayFor(model => model.Client.Surname)
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">@Html.LabelFor(model => model.Client.Phone)</div>
                    <div class="col-md-10">@Html.DisplayFor(model => model.Client.Phone)</div>
                </div>
                <div class="row">
                    <div class="col-md-2">@Html.LabelFor(model => model.Client.Adress)</div>
                    <div class="col-md-10">@Html.DisplayFor(model => model.Client.Adress), @Html.DisplayFor(model => model.Client.City)</div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-md-@carColLabelSize">@Html.LabelFor(model => model.ClientXCar.PlateNo)</div>
                    <div class="col-md-@carColDisplaySize">@Html.DisplayFor(model => model.ClientXCar.PlateNo)</div>
                </div>
                <div class="row">
                    <div class="col-md-@carColLabelSize">@Html.LabelFor(model => model.Car.Make)</div>
                    <div class="col-md-@carColDisplaySize">@Html.DisplayFor(model => model.Car.Make)</div>
                </div>
                <div class="row">
                    <div class="col-md-@carColLabelSize">@Html.LabelFor(model => model.Car.Model)</div>
                    <div class="col-md-@carColDisplaySize">@Html.DisplayFor(model => model.Car.Model)</div>
                </div>
                <div class="row">
                    <div class="col-md-@carColLabelSize">@Html.LabelFor(model => model.Car.Capacity), @Html.LabelFor(model => model.Car.Bhp)</div>
                    <div class="col-md-@carColDisplaySize">@Html.DisplayFor(model => model.Car.Capacity), @Html.DisplayFor(model => model.Car.Bhp) bhp</div>
                </div>
                <div class="row">
                    <div class="col-md-@carColLabelSize">@Html.LabelFor(model => model.Car.Year)</div>
                    <div class="col-md-@carColDisplaySize">@Html.DisplayFor(model => model.Car.Year)</div>
                </div>
            </div>
        </div>
        <br />
        <table class="table">
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Price
                </th>
                <th>
                    Quantity
                </th>
                <th>
                    Sum
                </th>
            </tr>

            @foreach (var item in Model.PartsList)
            {
                <tr>
                    <td>
                        @item.Value.Name
                    </td>
                    <td>
                        @item.Value.Price
                    </td>
                    <td>
                        @item.Key.Quantity
                    </td>
                    <td>
                        @item.Key.Total
                    </td>
                </tr>
            }
            <tr>
                <td></td>
                <td></td>
                <td style="text-align: right">Parts total: </td>
                <td>@Html.DisplayFor(model => model.Invoice.GrossAmount)</td>
            </tr>
        </table>
        <div class="form-group">
            @Html.LabelFor(model => model.Invoice.DueDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-2">@Html.EditorFor(model => model.Invoice.DueDate, new { htmlAttributes = new { @class = "form-control" } })</div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Invoice.IsPaid, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-2" style="padding-top: 7px">
                @Html.EditorFor(model => model.Invoice.IsPaid)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Invoice.PaymentDay, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-2">@Html.EditorFor(model => model.Invoice.PaymentDay, new { htmlAttributes = new { @class = "form-control" } })</div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-1 col-md-11">
                <input type="submit" class="btn btn-success pull-right" value="Save" />
            </div>
        </div>
    </div>
}


