﻿@model CarService_WebApp.Models.Mech.CreateRepairModel
@{
    ViewBag.Title = "CreateRepair";
}
<script src="~/Scripts/mechanic.js?@DateTime.Now.Ticks.ToString()"></script>
@Html.ValidationSummary()
@using (Html.BeginForm("AddRepair", "Mechanic"))
{ 
    @Html.HiddenFor(model => model.FormRepair.MechanicID, new { value = Model.FormRepair.MechanicID })
    @Html.HiddenFor(model => model.FormRepair.RepairID)
    @Html.HiddenFor(model => model.FormRepair.RepairHash)
    @Html.HiddenFor(model => model.FormClientXCar.ClientXCarID, new Dictionary<string, object> { { "data-val", "false" } })
    <h2>Add new repair - no. @Html.ValueFor(model => model.FormRepair.RepairHash) - Mechanic: @Model.FormRepair.MechanicID</h2>
    <div class="container-fluid form-horizontal">
        <div class="row">
            <div class="col-lg-2">
                @Html.LabelFor(model => model.FormClientXCar.PlateNo, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.FormClientXCar.PlateNo, new { htmlAttributes = new { @class = "form-control"} })
                @Html.ValidationMessageFor(model => model.FormClientXCar.PlateNo, "", new { @class = "text-danger" })
            </div>
            <div id="plate-search" class="col-lg-1 btn btn-default" style="margin-top:27px">Search</div>
            <div class="col-lg-3">
                @Html.LabelFor(model => model.FormRepair.StartDate, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.FormRepair.StartDate, new { htmlAttributes = new { @class = "form-control", placeholder = "yyyy-mm-dd hh:mm" } })
                @Html.ValidationMessageFor(model => model.FormRepair.StartDate, "", new { @class = "text-danger" })
            </div>
            <div class="col-lg-3">
                @Html.LabelFor(model => model.FormRepair.PlannedEndDate, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.FormRepair.PlannedEndDate, new { htmlAttributes = new { @class = "form-control", placeholder = "yyyy-mm-dd hh:mm" } })
                @Html.ValidationMessageFor(model => model.FormRepair.PlannedEndDate, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <div class="row repairs-for-date">
            @Html.Action("RepairsForDate", new { startDate = Model.FormRepair.StartDate })
        </div>
        <hr />
        <div class="row">
            <div class="col-lg-6 form-inline">
                <h2>Client</h2>
                <div style="margin-bottom: 15px">
                    @Html.EditorFor(model => model.FormUser.Name, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", style = "width:150px" } })
                    &nbsp;@Html.EditorFor(model => model.FormUser.Surname, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", style = "width:150px" } })
                    &nbsp;@Html.EditorFor(model => model.FormUser.Phone, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", style = "width:150px" } })
                </div>
                @Html.Partial("CreateRepairClientBox", Model)
            </div>
            <div class="col-lg-6" style="padding-left: 120px">
                <h2>Car model</h2>
                @Html.Partial("CreateRepairCarModelBox", Model)
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-lg-8">
                <h2>Parts</h2>
                @Html.Partial("CreateRepairPartsBox", Model )
            </div>
            <div class="col-lg-4">
                <h2>Additional description</h2>
                @Html.TextAreaFor(model => model.FormRepair.Description, new { @class = "form-control", style = "resize: none; height: 280px" })
                @Html.ValidationMessageFor(model => model.FormRepair.Description, "", new { @class = "text-danger"})
            </div>
        </div>
        <hr />
        <div class="form-group col-lg-5">
            <input type="submit" class="btn btn-success" value="Add repair" />
            @Html.ActionLink("Cancel", "CancelCreateRepair", "Mechanic", new { isFromRequest = Model.IsFromRequest, incomingRepairId = Model.FormIncomingRepairID }, new { @class = "btn btn-default" })
        </div>
    </div>
}
