﻿@model CarService_WebApp.Models.Mech.CreateRepairModel

<div class="form-horizontal">
    <div class="form-group form-make">
        @Html.LabelFor(model => model.FormCar.Make, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10 form-inline">
            @Html.EditorFor(model => model.FormCar.Make, new { htmlAttributes = new { @class = "form-control"} })
            <span class="glyphicon glyphicon-arrow-down dropdown-make" style="cursor:pointer"></span>
            @Html.ValidationMessageFor(model => model.FormCar.Make, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="car-dropdown" id="car-make-list" style="display:none">
        @Html.Action("CarMakeList")
    </div>
    <div class="form-group form-model">
        @Html.LabelFor(model => model.FormCar.Model, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10 form-inline">
            @Html.EditorFor(model => model.FormCar.Model, new { htmlAttributes = new { @class = "form-control"} })
            <span class="glyphicon glyphicon-arrow-down dropdown-model" style="display:none; cursor:pointer"></span>
            @Html.ValidationMessageFor(model => model.FormCar.Model, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="car-dropdown" id="car-model-list" style="display:none"></div>
    <div class="form-group form-version">
        @Html.LabelFor(model => model.FormCar.Version, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10 form-inline">
            @Html.EditorFor(model => model.FormCar.Version, new { htmlAttributes = new { @class = "form-control"} })
            <span class="glyphicon glyphicon-arrow-down dropdown-version" style="display:none; cursor:pointer"></span>
            @Html.ValidationMessageFor(model => model.FormCar.Version, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="car-dropdown" id="car-version-list" style="display:none"></div>
    <div class="form-group">
        @Html.LabelFor(model => model.FormCar.Year, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.FormCar.Year, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.FormCar.Year, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group form-capacity">
        @Html.LabelFor(model => model.FormCar.Capacity, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.FormCar.Capacity, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.FormCar.Capacity, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.FormCar.Bhp, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.FormCar.Bhp, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.FormCar.Bhp, "", new { @class = "text-danger" })
        </div>
    </div>
</div>


