﻿@model CarService_WebApp.Models.Mech.CreateRepairModel
@Html.HiddenFor(m => m.FormUser.Id, new { @class = "clientId form-control" })

<div class="form-inline">
        @Html.Editor("surname", new { htmlAttributes = new { @class = "form-control", placeholder = "Client surname", id = "surname", autocomplete = "off", style = "width: 100%" } })
    <div class="pull-right">
        <div class="form-group">
            <input type="button" value="Search" class="btn btn-default" id="btn-search-clients" />
            or
            @Html.ActionLink("Add new", "AddTemporaryClient", "Mechanic", new { returnUrl = HttpContext.Current.Request.Url.AbsolutePath }, new { @class = "btn btn-primary" })
        </div>
    </div>
</div>

<div class="loading-bar">
    <img src="~/Content/Images/progress_bar.gif" />
</div>
<br />
<div id="listOfUsers"></div>

