﻿@model CarService_WebApp.Models.Mech.CreateRepairModel

<div class="form-inline">
    <div class="part-box-form-group form-group">
        @Html.Label("Part_Name", "Name", htmlAttributes: new { @class = "control-label" })
        @Html.Editor("Part_Name", new { htmlAttributes = new { @class = "form-control", style = "width:1000px" } })
    </div>
    <div class="pull-right">
        <div class="part-box-form-group form-group">
            @Html.Label("Part_Price", "Price", htmlAttributes: new { @class = "control-label" })
            @Html.Editor("Part_Price", new { htmlAttributes = new { @class = "form-control", style = "width:80px" } })
        </div>
        <div class="part-box-form-group form-group">
            @Html.Label("Quantity", "Quantity", htmlAttributes: new { @class = "control-label" })
            @Html.Editor("Quantity", new { htmlAttributes = new { @class = "form-control", style = "width:80px" } })
        </div>
        <div class="part-box-form-group form-group">
            <input type="button" class="btn btn-primary" value="Add" id="btn-add-part"/>
        </div>
    </div>
</div>

<div id="list-of-parts">
    <br/>
    <table class="table part-list-table">
        <tr>
            <th>
                Name
            </th>
            <th class="header-column">
                Price
            </th>
            <th class="header-column">
                Quantity
            </th>
            <th class="header-column" style="text-align: right">
                Total
            </th>
            <th style="width: 1em"></th>
        </tr>
        @if (Model.FormPartList != null)
        {
            foreach (var item in Model.FormPartList)
            {
                <tr class="part-row" id="@item.RepairXPartID">
                    <td>
                        @item.Part.Name
                    </td>
                    <td>
                        @item.Part.Price
                    </td>
                    <td>
                        @item.Quantity
                    </td>
                    <td style="text-align: right">
                        @item.Total
                    </td>
                    <td style="width: 1em">
                        <span class="btn-delete-part glyphicon glyphicon-trash" id="item.RepairXPartID"></span>
                    </td>
                </tr>
            }
        }
    </table>
</div>