﻿@model CarService_WebApp.Models.Mech.RepairEditModel
@{
    ViewBag.Title = "EditRepair";
    int carColLabelSize = 3;
    int carColDisplaySize = 12 - carColLabelSize;
}
<script src="~/Scripts/mechanic.js?@DateTime.Now.Ticks.ToString()"></script>
<h2>Edit Repair no. @Model.Repair.RepairHash - @Model.Repair.RepairID</h2>
@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.Repair.RepairID)
    <div class="row">
        <div class="col-lg-6">
            <div class="row">
                <div class="col-md-2">
                    @Html.LabelFor(model => model.UserClient.Name)
                </div>
                <div class="col-md-10">
                    @Html.DisplayFor(model => model.UserClient.Name)
                    @Html.DisplayFor(model => model.UserClient.Surname)
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">@Html.LabelFor(model => model.UserClient.Phone)</div>
                <div class="col-md-10">@Html.DisplayFor(model => model.UserClient.Phone)</div>
            </div>
            <div class="row">
                <div class="col-md-2">@Html.LabelFor(model => model.UserClient.Adress)</div>
                <div class="col-md-10">@Html.DisplayFor(model => model.UserClient.Adress), @Html.DisplayFor(model => model.UserClient.City)</div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="row">
                <div class="col-md-@carColLabelSize">@Html.LabelFor(model => model.ClientXCar.PlateNo)</div>
                <div class="col-md-@carColDisplaySize">@Html.DisplayFor(model => model.ClientXCar.PlateNo)</div>
            </div>
            <div class="row">
                <div class="col-md-@carColLabelSize">@Html.LabelFor(model => model.Car.Make)</div>
                <div class="col-md-@carColDisplaySize">@Html.DisplayFor(model => model.Car.Make)</div>
            </div>
            <div class="row">
                <div class="col-md-@carColLabelSize">@Html.LabelFor(model => model.Car.Model)</div>
                <div class="col-md-@carColDisplaySize">@Html.DisplayFor(model => model.Car.Model)</div>
            </div>
            <div class="row">
                <div class="col-md-@carColLabelSize">@Html.LabelFor(model => model.Car.Capacity), @Html.LabelFor(model => model.Car.Bhp)</div>
                <div class="col-md-@carColDisplaySize">@Html.DisplayFor(model => model.Car.Capacity), @Html.DisplayFor(model => model.Car.Bhp) bhp</div>
            </div>
            <div class="row">
                <div class="col-md-@carColLabelSize">@Html.LabelFor(model => model.Car.Year)</div>
                <div class="col-md-@carColDisplaySize">@Html.DisplayFor(model => model.Car.Year)</div>
            </div>
        </div>
    </div>
    <br />
    <div class="form-horizontal">
        <div class="row">
            <div class="col-lg-3">
                @Html.LabelFor(model => model.Repair.StartDate, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.Repair.StartDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Repair.StartDate, "", new { @class = "text-danger" })
            </div>
            <div class="col-lg-3">
                @Html.LabelFor(model => model.Repair.PlannedEndDate, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.Repair.PlannedEndDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Repair.PlannedEndDate, "", new { @class = "text-danger" })
            </div>
            <div class="col-lg-3">
                @Html.LabelFor(model => model.Repair.IsFinished, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.Repair.IsFinished)
            </div>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-lg-8">
            <div class="form-inline">
                <div class="part-box-form-group form-group">
                    @Html.Label("Part_Name", "Name", htmlAttributes: new { @class = "control-label" })
                    @Html.Editor("Part_Name", new { htmlAttributes = new { @class = "form-control", style = "width:1000px" } })
                </div>
                <div class="pull-right">
                    <div class="part-box-form-group form-group">
                        @Html.Label("Part_Price", "Price", htmlAttributes: new { @class = "control-label" })
                        @Html.Editor("Part_Price", new { htmlAttributes = new { @class = "form-control", style = "width:80px" } })
                    </div>
                    <div class="part-box-form-group form-group">
                        @Html.Label("Quantity", "Quantity", htmlAttributes: new { @class = "control-label" })
                        @Html.Editor("Quantity", new { htmlAttributes = new { @class = "form-control", style = "width:80px" } })
                    </div>
                    <div class="part-box-form-group form-group">
                        <input type="button" class="btn btn-primary" value="Add" id="btn-add-part" />
                    </div>
                </div>
            </div>

            <div id="list-of-parts">
                <br />
                <table class="table part-list-table">
                    <tr>
                        <th>
                            Name
                        </th>
                        <th class="header-column">
                            Price
                        </th>
                        <th class="header-column">
                            Quantity
                        </th>
                        <th class="header-column" style="text-align: right">
                            Total
                        </th>
                        <th style="width: 1em"></th>
                    </tr>
                    @if (Model.RepairXParts != null)
                    {
                        foreach (var item in Model.RepairXParts)
                        {
                                <tr class="part-row" id="@item.RepairXPartID">
                                    <td>
                                        @item.Part.Name
                                    </td>
                                    <td>
                                        @item.Part.Price
                                    </td>
                                    <td>
                                        @item.Quantity
                                    </td>
                                    <td style="text-align: right">
                                        @item.Total
                                    </td>
                                    <td style="width: 1em">
                                        <span class="btn-delete-part glyphicon glyphicon-trash" id="@item.RepairXPartID"></span>
                                    </td>
                                </tr>
                            }
                      }
                </table>
            </div>
        </div>
        <div class="col-lg-4">
            <h2 style="margin-top: 0">Additional description</h2>
            @Html.TextAreaFor(model => model.Repair.Description, new { @class = "form-control", style = "resize: none; height: 280px" })
            @Html.ValidationMessageFor(model => model.Repair.Description, "", new { @class = "text-danger" })
        </div>
    </div>
    <hr />
    <div class="form-group col-lg-5">
        <input type="submit" class="btn btn-success" value="Save" />
        @Html.ActionLink("Cancel", "CancelCreateRepair", "Mechanic", new { isFromRequest = false, incomingRepairId = 0 }, new { @class = "btn btn-default" })
    </div>
}
