﻿@model IEnumerable<CarService_WebApp.Models.IncomingRepair>
@{ 
    Layout = null;
}

<table class="table">
    <tr>
        <th>
            Client
        </th>
        <th>
            Status
        </th>
        <th>
            Car
        </th>
        <th>
            Request date
        </th>
        <th>
            Message
        </th>
        <th></th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr class="repair-list-row" id="@item.Id">
            <td>
                @item.Client.User.Name&nbsp;@item.Client.User.Surname&nbsp;@item.Client.User.Phone
            </td>
            <td>
                @item.Status
            </td>
            <td>
                @if(item.ClientXCarId == null)
                {
                    @:Not yet assigned
                }
                else
                {
                    @item.ClientXCar.Car.Make@:&nbsp;@item.ClientXCar.Car.Model&nbsp;@item.ClientXCar.Car.Capacity&nbsp;@item.ClientXCar.Car.Year
                }
            </td>
            <td>
                @item.IncomingRepairDateTime.ToShortDateString()
            </td>
            <td>
                @item.MessageFromClient
            </td>
            <td class="text-center repair-list-edit-link" width="130px">
                @Html.ActionLink("Claim", "ClaimIncomingRepair", new { incomingRepairId = item.Id })
            </td>
        </tr>
    }
</table>
