﻿@{
    ViewBag.Title = "Index";
}
<script src="~/Scripts/mechanic.js"></script>
<h2>Mechanic Dashboard</h2>
<ul class="nav nav-pills nav-justified" style="border-radius: 6px; background-color: lightblue">
    <li role="presentation">@Html.ActionLink("List of all repairs", "List", null, new {  })</li>
    <li role="presentation">@Html.ActionLink("Add repair", "CreateRepair", null, new {  })</li>
    <li role="presentation">@Html.ActionLink("List of clients", "ClientsList", null, new { })</li>
    <li role="presentation">@Html.ActionLink("Add client", "AddTemporaryClient", new { returnUrl = "/Mechanic/" }, new { })</li>
    <li role="presentation">@Html.ActionLink("Add car", "AddCar", null, new { })</li>
</ul>
<hr />
<div class="row" id="week-repairs-table">
    @Html.Action("RepairsForCurrentWeek", new { startDate = DateTime.Today })
</div>
