﻿@model IEnumerable<CarService_WebApp.Models.Repair>

@{
    ViewBag.Title = "List";
}
<link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />
<script src="~/Scripts/jquery-ui-1.12.1.js" type="text/javascript"></script>
<script src="~/Scripts/mechanic.js?@DateTime.Now.Ticks.ToString()"></script>
<div class="row">
    <div class="col-lg-6 text-left"><h2>List of repairs</h2></div>
    <div class="col-lg-6 text-right"><h2>@Html.ActionLink("Add repair", "CreateRepair", null, new { @class = "btn btn-success" })</h2></div>
</div>
<div class="form-inline">
    @Html.Editor("plateNo", new { htmlAttributes = new { @class = "form-control", placeholder = "Car plate number", id = "plateNo", style = "width: 100%" } })
    @Html.Editor("clientSurname", new { htmlAttributes = new { @class = "form-control", placeholder = "Client surname", id = "clientSurname", style = "width: 100%" } })
    @Html.Editor("carMake", new { htmlAttributes = new { @class = "form-control", placeholder = "Car make", id = "carMake", style = "width: 100%" } })
    <div class="form-group">
        <input type="button" value="Search" class="btn btn-default" id="btn-search-repair" />
    </div>
    @Html.ActionLink("Show all", "List", null, new { @class = "btn btn-primary" })
</div>
<br />
<ul class="nav nav-tabs repairs-tabs">
    <li id="All" role="presentation" class="active"><a>All repairs</a></li>
    <li id="Incoming" role="presentation"><a>Incoming</a></li>
    <li id="Finished" role="presentation"><a>Finished</a></li>
    <li id="NotFinished" role="presentation"><a>Not finished</a></li>
</ul>
<br />
<div class="repair-list-table">
    @Html.Partial("RepairListTable", Model)
</div>
<div>
    @Html.ActionLink("Back to dashboard", "Index")
</div>

