﻿@model CarService_WebApp.Models.RepairXPart

<tr class="part-row" id="@Model.RepairXPartID">
    <td>
        @Html.DisplayFor(model => model.Part.Name)
    </td>
    <td>
        @Html.DisplayFor(model => model.Part.Price)
    </td>
    <td>
        @Html.DisplayFor(model => model.Quantity)
    </td>
    <td style="text-align: right">
        @Html.DisplayFor(model => model.Total)
    </td>
    <td style="width: 1em">
        <span class="btn-delete-part glyphicon glyphicon-trash" id="@Model.RepairXPartID"></span>
    </td>
</tr>
