﻿@model List<CarService_WebApp.Models.Repair>
@{ 
    Layout = null;
}
@if(Model.Count > 0)
{
    <p>You have @Model.Count repair(s) for this day:</p>
    foreach(var repair in Model)
    {
        <p>@repair.StartDate.Value.ToShortTimeString() @repair.ClientXCar.PlateNo @repair.Client.User.Name @repair.Client.User.Surname</p>
    }
}
else
{
    <p>You have no repairs for this start date</p>
}
