﻿@model Dictionary<DateTime, List<CarService_WebApp.Models.Repair>>
@{ 
    Layout = null;
    bool isWeekend = false;
}

<div class="col-lg-6">
    <div class="row" style="vertical-align: middle">
        <div id="@Model.First().Key.AddDays(-8)" class="col-lg-4 change-week" style="text-align: left; cursor: pointer;">
            <span class="glyphicon glyphicon-arrow-left"></span>
        </div>
        <div class="col-lg-4 current-week" style="text-align: center; cursor: pointer">
            <a>Current week</a>
        </div>
        <div id="@Model.Last().Key.AddDays(1)" class="col-lg-4 change-week" style="text-align: right; cursor: pointer">
            <span class="glyphicon glyphicon-arrow-right"></span>
        </div>
    </div>
    <hr />
    <table class="table">
        @foreach (var item in Model)
        {
            <tr>
                <td style="background-color: #f7f7f7; width: 25%">@item.Key.DayOfWeek.ToString()<br />@item.Key.Day</td>
                <td onclick="window.location='/Mechanic/CreateRepair?startDate=@item.Key.ToString("yyyy-MM-dd")'" style="background-color: #CBF5D1; vertical-align: middle; text-align: center; width: 10%; cursor: pointer"><span class="glyphicon glyphicon-plus-sign"></span></td>
                @if (item.Key.DayOfWeek.ToString() == "Saturday" || item.Key.DayOfWeek.ToString() == "Sunday")
                {
                    isWeekend = true;
                }
                else
                {
                    isWeekend = false;
                }

                <td @(isWeekend ? Html.Raw("style=\"background-color: #f7f7f7\"") : Html.Raw(""))>
                    @if (item.Value.Count > 0)
                    {
                        foreach (var repair in item.Value)
                        {
                            @repair.StartDate.Value.ToShortTimeString() @:&nbsp
                            @repair.ClientXCar.PlateNo @:&nbsp
                            @repair.Client.User.Surname @:&nbsp
                            @repair.Client.User.Phone @:&nbsp
                            <br />
                        }
                    }
                    else
                    {
                        @:No repairs
                }
                </td>

            </tr>
        }
    </table>
</div>