﻿@model IEnumerable<CarService_WebApp.Models.Repair>
@{ 
    Layout = null;
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ClientXCar.PlateNo)
        </th>
        <th>
            Car
        </th>
        <th>
            Client
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PlannedEndDate)
        </th>
        <th>
            Total
        </th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr class="repair-list-row" id="@item.RepairID">
            <td>
                @item.ClientXCar.PlateNo
            </td>
            <td>
                @item.ClientXCar.Car.Make&nbsp;@item.ClientXCar.Car.Model
            </td>
            <td>
                @item.Client.User.Name&nbsp;@item.Client.User.Surname&nbsp;@item.Client.User.Phone
            </td>
            <td>
                @if (item.StartDate != null)
                {
                    @String.Format(@"{0:dd\/MM\/yyy}", item.StartDate)
                }
                else
                {
                    @:- -
                }
            </td>
            <td>
                @if (item.PlannedEndDate != null)
                {
                    @String.Format(@"{0:dd\/MM\/yyy}", item.PlannedEndDate)
                }
                else
                {
                    @:- -
                }
            </td>
            <td>
                @item.RepairXParts.Sum(r => r.Total) zł
            </td>
            <td class="text-center repair-list-edit-link" width="50px">
                @Html.ActionLink("Edit", "EditRepair", new { repairId = item.RepairID, returnUrl = HttpContext.Current.Request.Url.AbsolutePath })
            </td>
            <td class="text-center" width="125px">
                @Html.ActionLink("Invoice", "CreateInvoice", new { repairId = item.RepairID, returnUrl = "/Mechanic/List" })
            </td>
            <td class="text-center">
                <span class="btn-delete-repair glyphicon glyphicon-trash" id="@item.RepairID"></span>
            </td>
        </tr>
    }
</table>