﻿@model IEnumerable<CarService_WebApp.Models.User>
<table class="table" style="margin-bottom: unset">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Surname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
    </tr>
</table>
<div class="pre-scrollable" style="max-height: 143px">
    <table class="table">
        @foreach (var item in Model) {
            <tr class="clients-list-row" id="@item.Id">
                <td id="name">
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td id="surname">
                    @Html.DisplayFor(modelItem => item.Surname)
                </td>
                <td id="phone">
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
            </tr>
        }
    </table>
</div>
